body {
    background-color: #0093e4;;
}

legend {
    text-align: center;
}

form {
    /* centralizador do formulário */
    margin: 0 auto;
    width: 400px;
    align-items: center;
    text-align: center;

    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div { /* espaçamento de input pra input(campo de texto) */
    margin-top: 1em;

}

input, textarea { /* Para dar o mesmo tamanho a todos os campo de texto */
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus { /* coloração envolto do input */
    border-color: #000;
}

#button {
   padding-left: 10px;
   margin-left: .5em;
   align-items: center;
   cursor: pointer;
}

#button:hover {
    color: #229A00;
}

genêro {
    display: inline-block;
    justify-content: space-between;
}